# MIT License

# Copyright (c) 2023 Paolo Salvatore Galfano, Giuseppe Sorrentino

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

[connectivity]
# Kernel instantiation
nk = mem2stream:1:mem2stream_0
nk = passthrough_rtl:1:passthrough_rtl_0
nk = stream2mem:1:stream2mem_0

# SLR assignment
slr = mem2stream_0:SLR0
slr = passthrough_rtl_0:SLR0
slr = stream2mem_0:SLR0

# Memory bank assignment
sp = mem2stream_0.m_axi:DDR[1]
sp = stream2mem_0.m_axi:DDR[1]

# AXI-stream connections
stream_connect = mem2stream_0.m_axis:passthrough_rtl_0.s_axis
stream_connect = passthrough_rtl_0.m_axis:stream2mem_0.s_axis

[vivado]
# Improve the Vitis hw_emu running speed
prop=fileset.sim_1.xsim.elaborate.xelab.more_options={-override_timeprecision -timescale=1ns/1ps}
